<div class="container mt-5">
<h2><%= @flat.name %></h2>
<p><%= @flat.address %></p>
<p><%= @flat.description %></p>
<p><%= @flat.price_per_night %></p>
<p><%= @flat.number_of_guests %></p>
<p><%= @flat.created_at %></p>

<%= link_to "Back to flat list", flats_path %>
</div>
